[build]
  base = "netlify"
  command = "echo 'Building...'"
  publish = "public"
  functions = "api"

[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/verify-email"
  to = "/verify-email.html"
  status = 200
  force = true

[[redirects]]
  from = "/reset-password"
  to = "/reset-password.html"
  status = 200
  force = true